* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Work Sans", sans-serif;
}


/*landing page*/
#wrapper {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center; 
	flex-direction: column;
	background-image: url('./../images/laptop.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#maintext {
	color: white;
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
}

.devName {
	color: white;
	text-align: center;

}

a {
	text-decoration: none;
}

#gotomain {
	margin-top: 200px;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	font-weight: bold;
}


/*button*/
.btn {
  position: relative;
  color: white;
  width: 256px;
  height: 50px;
  line-height: 64px;
  transition: all 0.3s;
  span {
    transition: all 0.3s;
    tranform: scale(1, 1);
  }
}

.btn::before, .btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-four:hover span {
  transform: scale(1.2, 1.2);
}

.btn-four::before {
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 0.1);
}

.btn-four:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-four::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-four:hover::after {
  transform: scale(0, 0);
  opacity: 0;
}

/*end landing page*/

/*main page*/
#mainbody {
	background-color: #88BDBC;
	background-image: linear-gradient(75deg, #254E58 30%, #88BDBC 90%, #00d4ff 90%);
}

.navbar {
	display: inline-block;
	width: 100%;
	background-color: #4F4A41;
	padding-left: 5px;
	align-items: right;
}

#landing-jumbo {
	display: flex;
	height: 100vh;
	background-color: #A7BAFA;
	background-image: url("./../images/building2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/*for parallax effect*/
	background-attachment: fixed;
	background-position: center;
	/*opacity: 0.90;*/
}

.dev-name{
	padding-right: 40px;
	margin-bottom: 40px;
	color: white;
	font-weight: bold;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: column;
	text-shadow: 2px 2px 4px #000000;
}

.lead {
	width: 40%;
	padding-top: 15px;
}



.projects-container {
	margin-top: 30px;
	color: white;
	padding: 30px;
}


.projectcard {
	background-color: #6E6658;
	height: auto;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectcard img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.card-body {
    padding: 15px;
    flex-grow: 1;
}

.card-title {
    font-size: 1.2rem;
    margin-top: 10px;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .projectcard img {
        height: 200px; /* Adjust image height for smaller screens */
    }

    .card-text {
        font-size: 0.9rem; /* Adjust text size for smaller screens */
    }
}

#techusedpic {
	height: 400px;
	width: 400px;
	box-shadow: 0 4px 8px 0 #3AAFA9, 0 6px 20px 0 #3AAFA9;
	border-radius: 40px;
}

.tech-container {
	color: white;
	margin-top: 100px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

/*about container*/
#aboutworkcontainer {
	margin: 15px;
	padding-top: 100px;
	display: flex;
}

.workhistory {
	border-style: groove;
	width: 50%;
	margin: 20px;
	min-height: 300px;
	background-image: radial-gradient( #376E6F, #2F4454);
    padding: 25px 25px 5px 25px;
    color: white;
}

.workhistory h4 {
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}

.workhistory h5 {
	font-weight: bold;
	margin-top: 50px;
}

.workhistory div {
	margin-top: 30px;
	font-style: italic;
}

#notaboutworkcontainer {
	display: flex;
	justify-content: flex-end;
	min-height: 300px;

}

.notworkhistory {
	border-style: groove;
	width: 30%;
	margin: 20px;
	background-color: #57BA98;
	text-align: center;
	padding: 25px;
	background-image: radial-gradient( #AAA0A0, #8E8268);
	color: white;
}

.notworkhistory h4 {
	text-decoration: underline;
}

/*end of about container*/

/*end of main page*/

/*footer*/
.footer {
	/* margin-top: 20px; */
	background-color: #2D283E;
	color: white;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
}





